<!--Berkovics Gellért-->

<head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <div class="row col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading text-center">
                    <h1>Regisztrálj</h1>
                </div>
                <div class="pb panel-body">
                    <form (ngSubmit)="register()">
                        <div class="form-group">
                            <label for="name">Név</label><br>
                            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="name" required> 
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label><br>
                            <input type="text" class="form-control" id="email" name="email" [(ngModel)]="email" required>
                            <i class='bx bxl-gmail'></i>
                        </div>
                        <div class="form-group">
                            <label for="password">Jelszó</label><br>
                            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" required>
                            <i class='bx bxs-lock-alt'></i>
                        </div>
                        <div class="form-group">
                            <label for="password_confirmation">Megerősítés Jelszó</label><br>
                            <input type="password" class="form-control" id="password_confirmation" name="password_confirmation" [(ngModel)]="password_confirmation" required>
                            <i class='bx bxs-lock-alt'></i>
                        </div>
                        <button type="submit" class="btn btn-primary">Regisztráció</button>
                    </form>
                </div>
                <div class="pf panel-footer">
                    <p>
                        Már van fiókja? 
                        <a href="/belepes">
                            Bejelentkezés itt
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>