<!--Molnár Csenge Anna-->

<body>
    <div class="container">
        <h1>Mi az audiogram?</h1>
        <p>Ha meg szeretné tudni, hogy még ép-e a hallása, vagy esetleg hallászavar áll-e fenn Önnél, 
            ajánlatos megvizsgáltatnia a hallóképességét egy szakemberrel. Miután a szakember elvégezte a hallásvizsgálatot, az eredmények alapján
            elkészít egy ún. audiogramot. Az audiogram egy olyan grafikon, amelyről leolvasható egy ember hallóképessége. De hogy néz ki egy audiogram?
            Hogyan készül? És hogyan lehet leolvasni? Itt megtalálhatja a választ minden fontosabb kérdésére, és további információkat olvashat a hallásvizsgálatokkal
            és az audiometriával kapcsolatban.
        </p>


        <!--kép audiogram és oszlop-->
        <h3>Mi az audiogram?</h3>
        <div class="elsooszlop">
            <p>Egy hallásgondozó által végzett hallásvizsgálat, mely egy sor tesztet foglal magában. Célja, hogy kiderüljön, van-e hallásvesztesége vagy sem.
                A hallásvizsgálat eredményeit audiogram formájában jelenítik meg.
            </p>
        
            <p>A hallásgondozó az audiogram alapján többek között felismeri, hogy van-e hallásvesztesége, és amennyiben az eredmény pozitív,
                meg tudja állapítani a halláscsökkenés mértékét. Amennyiben hallásvesztesége van, a hallásgondozó elmagyarázza Önnek az audiogram eredményét.</p>
        
            <p>Az audiogram a hallásküszöb vizuális megjelenítése révén ad képet a hallásáról különböző frekvenciák mellett. A hallásküszöb azt mutatja, hogy mikortól 
                érzékel egy adott hangot. A hallásküszöb 0–25 dB között számít normálisnak. Ez egy ép hallású fiatal esetében 0 dB.
            </p>
        </div>
        <!--kép-->
        <div class="ketoszlop" id="kepet">
            <img src="../../assets/image/audiogram.png" alt="" >
        </div>


        <h3>A hallásvizsgálat kiértékelése: Hogyan lehet leolvasni egy audiogramot?</h3>
        <div class="elsooszlop">
            
            <p>Egy audiogram két tengelyt ábrázol. A függőleges tengelyről a hangerő és az intenzitás olvasható le, melyet decibelben mérnek (dB).
                Minél mélyebben mozdulunk el a tengely mentén, annál hangosabb a hang. A tengely csúcsán a leggyengébb hang található (0 dB). 
                Ezt a hangot normál esetben még épphogy meghallja az ember.
            </p>
                
            <p>A vízszintes tengelyről a hangfrekvencia és a hangmagasság olvasható le, melyeket hertzben (Hz) mérnek. Minél inkább jobbra mozdulunk
                el a tengely mentén, annál magasabb a frekvencia. Akár egy zongorán: minél inkább jobbra található egy billentyű, annál magasabb a hang.
                Egy átlagos beszélgetés frekvenciája 500 és 3000 Hz között van.
            </p>
        </div>
        <!--két oszlop-->
        <div class="ketoszlop">
            <p>A hallásvizsgálat során a jobb fül eredményeit piros, a balét pedig kék jelöléssel jegyzik fel az audiogramon.
                    Ha összekötjük ezeket a jelöléseket, az így kapott vonalakról leolvasható mindkét fül hallásküszöbe. Könnyen előfordulhat az is, hogy a két fül eredményei különbözőek.</p>
                
            <p>Általánosságban igaz, hogy minél inkább eltér a hallásgörbe az ép hallásúak vonalától, annál nagyobb mértékű a halláscsökkenés.</p>
        </div>


        <h3> Mik a frekvenciák?</h3>
        <div class="elsooszlop">
            <p>
                A hangfrekvencia egy hanghullám másodpercenkénti rezgéseinek a száma. Mértékegysége a hertz (Hz).
                Minél magasabb ez a szám, annál magasabb a hangfrekvencia. Egy átlagos ember a 20 és 20 000 hertz közötti rezgéseket érzékeli hangként.
                Magas hang például a madárcsicsergés. Mély hangja a távoli mennydörgésnek vagy a basszusgitárnak van.
            </p>
        </div>

        <div class="ketoszlop">
            <p>
                A magas hangokat érintő nagyothallás esetén az érintett kezdetben csak a magas frekvenciákat hallja rosszabbul.
                Ilyen többek között az ún. sziszegő hangok (sz, f vagy –s) és egyéb mássalhangzók.
                Az érintettek rosszabbul hallják továbbá az olyan magas frekvenciájú hangokat is, mint például a csengő, a telefoncsörgés vagy a gyerekhangok.
                Előrehaladottabb nagyothallás esetén végül az alacsonyabb frekvenciák érzékelése is romlik.
            </p>
        </div>
        
    </div>
    
</body>