*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../../assets/image/hearing2.jpg');
    overflow: hidden;
    width: 100%;
}

.wrapper{
    width: 420px;
    border-radius: 10px;
    padding: 30px 40px;
    color: white;
    background: transparent;
    border: 2px solid white;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px black;
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
    font-weight: bold;
}

.wrapper p{
    font-size: 20px;
}