<body>
    <div class="contanier">
        <div class="form-floating">
            <input [(ngModel)]="keresendo" type="text" class="form-control" id="floatingInput" >
            <label for="floatingInput">Search</label>
        </div>

        <div class="row oszlop">
            <div *ngFor="let oszlop of oszlopok" class="col">
                {{oszlop}}
            </div>
            <div class="col-5">
                Actions
            </div>
        </div>

        <div *ngFor="let regist of register|sort:keresendo" class="row">
            <div *ngFor="let oszlop of oszlopok" class="col-5">
                <input [(ngModel)]="regist[oszlop]" type="text" class="form-control">
            </div>
            <div class="col-5">
                <button (click)="putRegister(regist)" type="button" class="btn btn-warning">Módosítás</button>
                <button (click)="deleteRegister(regist)" type="button" class="btn btn-danger">Törlés</button>
            </div>
        </div>
    </div>
</body>



