*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
}

.contanier{
    max-width: 1200px;
    margin: 0 auto; 
    padding-top: 50px;
}

.btn{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.oszlop{
    font-size: 20px;
    font-weight: bold;
}

input{
    height: 35px;
}