<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="navbar">
        <nav>
            <input type="checkbox" class="myCheckBox" id="myCheck">
            <label for="myCheck" class="checkButton">
                <i class="fa fa-bars"></i>
            </label>
            <label class="logo">Hear</label>
            <ul>
                <li><a class="active" href="/home">Home</a></li>
                <li><a href="/szabaly">Szabályok</a></li>
                <li><a href="/vizsgalat">Vizsgálat</a></li>
                <li><a href="/shop">Vásárlás</a></li>
                <li><a *ngIf="!loggedIn()" href="/belepes">Bejelentekezi</a></li>
                <li><a *ngIf="!loggedIn()" href="/regisztal">Regisztráciő</a></li>
                <li><a *ngIf="loggedIn()" (click)="logOut()">Kijelentekezi</a></li>
            </ul>
        </nav>
    </div>
    <div class="contanier-fluid">
        <router-outlet></router-outlet>
    </div>
</body>