<!--Szöveges Molnár Csenge Anna-->

<body>
    <div class="szabaly">
        <div class="header">
            <h1>Hallásvizsgálat – mire számíthat?</h1>

            <p>Az ép hallás minőségi életet biztosít, megkönnyíti a kommunikációt, és erősíti az emberi kapcsolatainkat.
                Az emberi fül azonban érzékeny szerv, mely a túlzott igénybevétel – vagy egyszerűen az életkor – következtében veszíthet teljesítményéből.
                Ha úgy érzi, hogy romlik a hallása, ajánlott hallásvizsgálatot végeztetnie – nem tart sokáig, ráadásul biztonságérzetet ad.
            </p>
        </div>

        <div class="elsooszlop">
            <h3>Hogyan zajlik a hallásvizsgálat?</h3>
            <p>Az audiológus először feltesz néhány kérdést a személyes helyzetével kapcsolatban. Például: hogyan vette észre, hogy rosszabbul hall?
                Munkahelyén szélsőségesen nagy hangerőnek van kitéve? Válaszai segítéségével az audiológus előzetes képet alakíthat ki a problémáról.
                Magára a vizsgálatra végül laboratóriumi, nem valós körülmények között kerül sor. A hétköznapokban a hallása még egy sor más jellegű terhelésnek is ki van téve.
                Ezeket a vizsgálat kiértékelése során a szakember figyelembe veszi.
            </p>
 
            <p>A hallásvizsgálatot általában egy hangszigetelt helyiségben vagy kabinban végzik el.
                Fejhallgatón keresztül különböző frekvenciájú hangokat játszanak le Önnek a 125 és 8000 Hz közötti frekvenciatartományban – tehát az egészen mélyektől az egészen magasakig.
                Mindkét fülét külön vizsgálják, a vizsgálat pedig kifejezett halk – a nem hallható tartományba tartozó – hangokkal kezdődik, majd fokozatosan emelkedik a hangerő.
                Önnek pedig jeleznie kell, amint először észleli a hangot, legtöbbször egy gomb vagy egy billentyű megnyomásával.
            </p>
        
            <p>
                A fejhallgatós vizsgálat után ugyanezt a tesztet még egyszer el lehet végezni vibráció segítségével a koponyacsonton is.
            </p>
        </div>
    
        <!--két oszlop-->
        <div class="ketoszlop">
            <p>Erre azért van szükség, hogy meg lehessen állapítani vagy ki lehessen zárni a középfül esetleges károsodását.</p>
 
            <p>A hallásvizsgálatot egy ún. audiogramon értékelik ki. Az audiogram egy skálán jeleníti meg a hangokat, ezzel ad képet a hallásküszöbről decibelben.
                A fül-orr-gégész vagy audiológus pedig leolvashatja róla, hogy mely frekvenciákon észlelhető eltérés az ép hallással szemben.
                Ez nemcsak a hallászavarok különböző fajtáinak diagnosztizálásában segít, hanem a megfelelő hallókészülék kiválasztásában is.
                A hallásvizsgálat így nem pusztán a diagnózis felállításának, hanem a hallókészülék-vásárláshoz nyújtott tanácsadásnak is elengedhetetlen része.
                A vizsgálatot követően az audiológus javasol Önnek néhány különböző hallókészüléket, melyeket kipróbálhat, hogy személyre szabottan lehessen megállapítani,
                melyik modell ideális az Ön számára.
            </p>
         
            <p>
                További hasznos tudnivalókat talál az audiogrammal kapcsolatban itt.
            </p>
        </div>
        <!---->
        <div class="harom">
            <h3>Néhány tipp a felszültségoldáshoz</h3>
            <p>Sokan nagyon izgulnak a hallásvizsgálat előtt. Egyrészt nem tudják pontosan, hogy mi vár rájuk, másrészt félnek az eredménytől.</p>

            <p>Bármelyikről is legyen szó, az idegesség negatívan befolyásolhatja a vizsgálat eredményét. Az, hogy milyen gyorsan ismer fel egy hangot, nagyban függ a reakcióidőtől,
                de az aktuális közérzetétől is – kialudta-e magát, stresszes-e vagy éppen fáradt.</p>

            <p>Ezért szánjon rá elegendő időt, és próbáljon meg nyugodtan és kipihenten elmenni a hallásvizsgálatra. Ha elkíséri valaki, aki nyugtatóan hat Önre, szintén sokat segíthet.</p>
        </div>

        <!--Táblázat feladat-->
        <div class="tipp">
            <h3>Segítheti a felkészülést néhány tipp, melyekkel oldhatja a feszültséget:</h3>
            <ul>
                <li>Nyugodtan kérje meg az audiológust, hogy magyarázza el a vizsgálat menetét.</li>
                <li>A vizsgálat előtt próbálja ki és nyomja meg a gombokat.</li>
                <li>Ügyeljen arra, hogy a fejhallgató jól illeszkedjen a fejére. Ha szükséges, vegye le a szemüvegét, vagy simítsa a haját a füle mögé.</li>
                <li>Próbáljon meg nyugodtan lélegezni, és helyezkedjen el a lehető legkényelmesebben.</li>
                <li>A hangerő növekedésének tempója csökkenthető, az egyes hangok lejátszása közötti idő pedig növelhető. Ne legyen szégyenlős, nyugodtan kérje, hogy lassabban haladjon a vizsgálat.</li>
                <li>Minden vizsgálat megismételhető!</li>
            </ul>
        </div>

        <!--Kép-->
        <div class="image">
            <img src="../../assets/image/audiogram1.png" alt="" class="kep-thumbnail">
            <p>Mi az audiogram?</p>
            <a href="/audiogram">Tudjon meg többet -></a>
        </div>
    </div>
</body>