<body>
    <div class="container">
        <div class="deaf1">
            <img src="../../assets/image/deaf1.jpg" id="deaf1" width="400" height="400">
        </div>
        <div class="deaf2">
            <img src="../../assets/image/deaf2.png" width="400" height="400">
        </div>
        <div class="deaf3">
            <img src="../../assets/image/deaf3.jpg" id="deaf" width="400" height="300">
        </div>
        <div class="deaf4">
            <img src="../../assets/image/deaf4.jpg" id="deaf" width="400" height="300">
        </div>
        <div class="deaf5">
            <img src="../../assets/image/deaf5.jpg" id="deaf" width="500" height="400">
        </div>
        <div class="deaf6">
            <img src="../../assets/image/deaf6.jpg" id="deaf" width="300" height="300">
        </div>
        <div class="deaf7">
            <img src="../../assets/image/deaf7.png" id="deaf3" width="300" height="400">
        </div>
    </div>
</body>
