<!--Molnár Csenge Anna-->

<head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="wrapper">
        <form>
            <h1>Belépés</h1>
            <div class="input-box">
                <input type="email" name="email" placeholder="Email" [(ngModel)]="email" required>
                <i class='bx bxl-gmail'></i>
            </div>
            <div class="input-box">
                <input type="password" name="password" placeholder="Jelszó" [(ngModel)]="password" required>
                <i class='bx bxs-lock-alt'></i>
            </div>
            <div class="forgot">
                <label>
                    <a href="/forgot-password">Elfelejtetted a jelszavad?</a>
                </label>
            </div>

            <button type="submit" class="btn btn-primary" (click)="login()">Belépés</button>

            <div class="register-link">
                <p>Nincs fiókod? <a href="/regisztal">Regisztráció</a></p>
            </div>

            <div class="google">
                <a (click)="signInWithGoogle()">
                    <img src="../../assets/image/google.png" height="24px" width="24px" alt="">&nbsp; Jelentkezz be Google-val
                </a>
            </div>
        </form>
    </div>
</body>